<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="HostAddress" value="localhost:4944" />
    <!--<add key="SQLServer" value="data source=212.224.76.88;initial catalog=DBInvoice;persist security info=True;user id=sa;password=111987;MultipleActiveResultSets=True;" />-->
    <!--<add key="SQLServer" value="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=\\BCLOUD\INV111\DBINVOICE.MDF;Integrated Security=True;MultipleActiveResultSets=True;" />-->
    <add key="SQLServer" value="data source=ortal.cqpmqw621knd.eu-west-1.rds.amazonaws.com;initial catalog=DBInvoice;persist security info=True;user id=ortal;password=sansa999;MultipleActiveResultSets=True;" />
    <add key="PDFCreator" value="C:\Program Files\wkhtmltopdf\bin\wkhtmltopdf.exe" />
    <add key="DocFolder" value="C:\Temp" />
    <add key="TempFiles" value="C:\Temp" />
    <add key="ConstantFiles" value="ConstFiles" />
    <add key="TempFiles1" value="C:\Temp" />
    <add key="VirtualDir" value="" />
  </appSettings>
  <connectionStrings>
    <!--<add name="DBInvoiceEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;
    provider connection string=&quot;
    data source=212.224.76.88;initial catalog=DBInvoice;persist security info=True;user id=sa;password=111987;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DBInvoiceEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;     provider connection string=&quot;     data source=ortal.cqpmqw621knd.eu-west-1.rds.amazonaws.com;initial catalog=DBInvoice;persist security info=True;user id=ortal;password=sansa999;MultipleActiveResultSets=True;;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DBInvoiceEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;
         provider connection string=&quot;
         data source=ortal.cqpmqw621knd.eu-west-1.rds.amazonaws.com;initial catalog=DBInvoice;persist security info=True;user id=ortal;password=sansa999;MultipleActiveResultSets=True;
         MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DBInvoiceEntities" connectionString="
         metadata=
         res://*/App_Code.Model.csdl|
         res://*/App_Code.Model.ssdl|
         res://*/App_Code.Model.msl;
         provider=System.Data.SqlClient;
    provider connection string=&quot;
        Data Source=(LocalDB)\MSSQLLocalDB;
        Initial Catalog=\\BCLOUD\INV111\DBINVOICE.MDF
        Integrated Security=True;
        AttachDBFilename=|DataDirectory|DBInvoice.mdf;
        App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <!--<rewrite>
    <outboundRules>
      <rule name="Forcing Open for PDFs" preCondition="IsPDF">
        <match serverVariable="RESPONSE_Content-Disposition" pattern=".*" />
        <conditions>
          <add input="{REQUEST_FILENAME}" pattern="(.*)\\([^/]+)\.pdf$" />
        </conditions>
        <action type=   "Rewrite" value="filename={C:2}.pdf" />
      </rule>
      <preConditions>
        <preCondition name="IsPDF">
          <add input="{REQUEST_FILENAME}" pattern="\.pdf$" />
        </preCondition>
      </preConditions>
    </outboundRules>
  </rewrite>-->
    <!--<staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
      <mimeMap fileExtension=".dat" mimeType="text/plain" />
    </staticContent>-->
    <defaultDocument>
      <files>
        <remove value="index.html" />
        <remove value="default.aspx" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>