<div class="col-lg-12">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#common" data-toggle="tab" aria-expanded="false">פרטים כללים</a></li>
        <li><a href="#change-password" data-toggle="tab" aria-expanded="false">שינוי סיסמא</a></li>
        <li class="pull-left" data-ng-show="isChangedAccField()">
            <span class="label label-warning w-not-saved">לא שמור</span>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="common">
            <form class="form-horizontal" id="f511" name="f511" novalidate action="javascript:UpdateUserData()">
                <div class="form-group row">
                    <label for="inputEmail" class="col-lg-2 control-label">דואר אלקטרוני</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail"
                               placeholder="דואר אלקטרוני" data-ng-model="userData.Email" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputFName" class="col-lg-2 control-label">שם פרטי</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputFName" name="inputFName"
                               placeholder="שם פרטי" data-ng-model="userData.FName" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputLName" class="col-lg-2 control-label">שם משפחה</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputLName" name="inputLName"
                               placeholder="שם משפחה" data-ng-model="userData.LName" />
                    </div>
                </div>
                <!--<div class="form-group">
                    <label class="col-lg-2 control-label">מזהה לקוח/חברה</label>
                    <div class="col-lg-10">
                        <input name="userIdent" type="text" id="userIdent" class="form-control"
                               placeholder="מזהה לקוח/חברה" data-ng-model="userData.Identificator">
                    </div>
                </div>-->

                <div class="form-group row">
                    <label for="inputPassword" class="col-lg-2 control-label">סיסמא</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="סיסמא" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary btn-large" data-ng-click="submitted=true;" data-ng-disabled="!isChangedAccField()">עידכון</button>
                        <button type="button" class="btn btn-warning btn-large" data-ng-click="submitted=true;resetErrorUserForms()" data-ng-disabled="!isChangedAccField()">
                            איתחול
                        </button>
                        <!--<div class="text-danger" data-ng-show="!isChangedAccField()">
                                לא השתנו פרטים
                        </div>-->
                        </div>
                </div>
            </form>
        </div>
        <div id="change-password" class="tab-pane fade">
            <form class="form-horizontal" id="f512" name="f512" novalidate action="javascript:ChangePassword()">
                <div class="form-group row">
                    <label for="inputPasswordC" class="col-lg-2 control-label">סיסמא ישנה</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="inputPasswordC" name="inputPasswordC" placeholder="סיסמא ישנה" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPasswordNew" class="col-lg-2 control-label">סיסמא חדשה</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="inputPasswordNew" name="inputPasswordNew" placeholder="סיסמא חדשה" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPasswordNewConf" class="col-lg-2 control-label">אימות סיסמא חדשה</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="inputPasswordNewConf" name="inputPasswordNewConf"  placeholder="אימות סיסמא חדשה" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary btn-large" data-ng-click="submitted=true">עידכון</button>
                        <button type="button" class="btn btn-warning btn-large" data-ng-click="submitted=true;resetErrorUserForms()">
                            איתחול
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $().ready(function () {
        // update user data validation
        $("#f511").validate({
            rules: {
                inputFName: "required",
                inputLName: "required",
                //userIdent: "required",
                inputPassword: {
                    required: true,
                    minlength: 3
                },
                inputEmail: {
                    required: true,
                    email: true
                }
            },
            messages: {
                inputFName: "שם פרטי הינו שדה חובה",
                inputLName: "שם משפחה הינו שדה חובה",
                //userIdent: "מזהה לקוח/חברה הינו שדה חובה",
                inputPassword: {
                    required: "סיסמא הינו שדה חובה",
                    minlength: "אורך הסיסמא המינימלי הינו 3"
                },
                inputEmail: {
                    required: "דואר אלקטרוני הינו שדה חובה",
                    email: "הדואר פורמט אינו תקין"
                }
            }
        });
        // change password
        $("#f512").validate({
            rules: {
                inputPasswordC: {
                    required: true,
                    minlength: 3
                },
                inputPasswordNew: {
                    required: true,
                    minlength: 3
                },
                inputPasswordNewConf: {
                    required: true,
                    minlength: 3,
                    equalTo: "#inputPasswordNew"
                }
            },
            messages: {
                inputPasswordC: {
                    required: "סיסמא הינו שדה חובה",
                    minlength: "אורך הסיסמא המינימלי הינו 3"
                },
                inputPasswordNew: {
                    required: "סיסמא הינו שדה חובה",
                    minlength: "אורך הסיסמא המינימלי הינו 3"
                },
                inputPasswordNewConf: {
                    required: "אימות סיסמא הינו שדה חובה",
                    minlength: "אורך הסיסמא המינימלי הינו 3",
                    equalTo: "הסיסמא אינו תואמת"
                }
            }
        });
    });
</script>
