<form class="form-horizontal">
    <fieldset>
        <div class="col-md-12 tab-content" style="padding: 0px;">
            <div class="tab-pane fade active in tm-row">
                <!-- no results -->
                <table style="width:100%" data-ng-show="filteredDocumentsObj.length==0">
                    <tr>
                        <td>
                            <div class="alert alert-warning tm-panel" style="padding:9px">
                                <p style="text-align:center">אין מסמכים</p>
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- table -->
                <div style="min-height:430px;">
                    
                    <table class="table table-striped table-hover tm-grid" data-ng-show="filteredDocuments().length>0">
                        <thead>
                            <tr>
                                <th style="width:30px;" title="הורדה בקובץ יחיד לחשבשבת">ח</th>
                                <!--changed by ortal&nofar-->
                                <th style="width:30px; align-self:center;" data-ng-if="search.docType==8 || search.docType==11"><span data-ng-if="search.docType==8 || search.docType==11" title="בחר" align="center" class="glyphicon glyphicon-check"></span></th>
                                <th data-ng-if="search.docType==11 || search.docType==12"><span data-ng-if="search.docType==11 || search.docType==12" title="הרחב" class="glyphicon glyphicon-plus"></span></th>
                                <!--end-->
                                <th><span data-ng-click="changeSorting(docSort,'Id')"><span data-ng-class="selectedCls(docSort,'Id')"></span><a href="#">מס</a></span></th>
                                <th><span data-ng-click="changeSorting(docSort,'DocumentNumber')"><span data-ng-class="selectedCls(docSort,'DocumentNumber')"></span><a href="#">מס' סידורי</a></span></th>
                                <th><span data-ng-click="changeSorting(docSort,'DocumentN')"><span data-ng-class="selectedCls(docSort,'DocumentN')"></span><a href="#">סוג מסמך</a></span></th>
                                <th><span data-ng-click="changeSorting(docSort,'CompanyN')"><span data-ng-class="selectedCls(docSort,'CompanyN')"></span><a href="#">בית עסק</a></span></th>
                                <th><span data-ng-click="changeSorting(docSort,'CustomerN')"><span data-ng-class="selectedCls(docSort,'CustomerN')"></span><a href="#">לקוח</a></span></th>
                                <th><span data-ng-click="changeSorting(docSort,'Total')"><span data-ng-class="selectedCls(docSort,'Total')"></span><a href="#">סכום</a></span></th>
                                <th><span data-ng-click="changeSorting(docSort,'DateVal')"><span data-ng-class="selectedCls(docSort,'DateVal')"></span><a href="#">תאריך</a></span></th>
                                <th><span data-ng-click="changeSorting(docSort,'DueDateVal')"><span data-ng-class="selectedCls(docSort,'DueDateVal')"></span><a href="#">לתשלום עד</a></span></th>
                                <th style="width:132px;" colspan="4">עריכה/ביטול/שליחה</th>
                                <!--changed by ortal&nofar-->
                                <th style="width:132px;" data-ng-if="search.docType==8 || search.docType==11 || search.docType==12">
                                <span data-ng-click="changeSorting(docSort,'isClosed')">
                                    <span data-ng-class="selectedCls(docSort,'isClosed')"></span>
                                    <a href="#">סטטוס
                                    </a>
                                </span>
                                </th>
                                <!--end-->
                            </tr>
                        </thead>
                        <tbody data-ng-repeat="p in filteredDocumentsObj | orderBy:docSort.column:docSort.descending | limitTo: pageSize : paging[3].from">
                            <tr data-ng-class="{'success':p.Id==newDoc.Id}">
                                <td>
                                    <a href="#" data-ng-click="getDocForH(p.Id);" data-ng-show="!p.IsDraft && dtpIn(p.DocumentType,[1,2,3])">
                                        <span class="mif-file-download mif-2x" title="הורדה בקובץ יחיד לחשבשבת"></span>
                                    </a>
                                </td>
                                <!--checkbox changed by ortal&nofar-->
                                <td data-ng-if="search.docType==8">
                                    <input type="checkbox" data-ng-model="docCheckBoxSC" data-ng-if="p.DocumentType==8" data-ng-change="linesToInvoice(docCheckBox2,p)" ng-checked="{{p.isCheckd}}">
                                </td>
                                <td data-ng-if="search.docType==11">
                                    <input type="checkbox" data-ng-model="docCheckBox" data-ng-if="p.DocumentType==11" data-ng-change="linesToInvoice(docCheckBox,p)" ng-checked="{{p.isCheckd}}">
                                </td>                                
                                <td data-ng-if="search.docType==11 || search.docType==12">
                                    <span data-ng-class="p.ifParent ? 'glyphicon glyphicon-minus' : 'glyphicon glyphicon-plus'" data-ng-if="p.DocumentType==11 || p.DocumentType==12"
                                          data-ng-show="p.isParent" data-ng-click="p.ifParent=!p.ifParent"></span><!--|| dtpin(p.documenttype,[5,7,8]-->
                                    <a href="#" style="width:30px;"
                                       data-ng-show="!p.IsDraft && dtpIn(p.DocumentType,[1,2,3])" data-ng-if="p.DocumentType==11 || p.DocumentType==12">
                                    </a>
                                </td>
                                <!--end-->
                                <td>{{p.Id}}</td>
                                <td>{{p.DocumentNumber}}</td>
                                <td>{{p.DocumentN}}</td>
                                <td>{{p.CompanyN}}</td>
                                <td>{{p.CustomerN}}</td>
                                <td>{{p.DocumentType==3 || p.DocumentType==6 ? p.PaidTotal : p.Total}}</td>
                                <td>{{p.DateV}}</td>
                                <td>{{dueDate(p)}}</td>
                                <td style="width:25px" class="left-but">
                                    <a href="pdf1.aspx?id={{p.Id}}" target="_blank" id="dh_{{p.Id}}" style="color:#dd5600">
                                        <span class="mif-file-pdf mif-2x" title="תצוגה/הורדה של PDF" data-ng-show="!p.IsDraft"></span>
                                    </a>
                                </td>
                                <td class="left-but">
                                    <a data-ng-href="{{docPreview(p)}}" target="_blank" id="dh_{{p.Id}}">
                                        <span class="mif-file-text mif-2x" title="תצוגה" data-ng-show="!p.IsDraft"></span>
                                    </a>
                                </td>
                                <td class="left-but">
                                    <a href="#" data-ng-click="loadSavedDocForEdit(p.Id,0);" data-ng-show="p.IsDraft"> <!--|| dtpIn(p.DocumentType,[5,7,8])-->
                                        <span class="mif-pencil mif-2x" title="עריכה"></span>
                                    </a> <!--&& !dtpIn(p.DocumentType,[5,7,8])-->
                                    <a href="#" data-ng-show="!p.IsDraft"
                                       style="color:#1c4f81" data-ng-click="getdocToMail(p)" data-toggle="modal" data-target="#myModal">
                                        <span class="glyphicon glyphicon-send" title="שליחה לדואר אלקטרוני"></span>
                                    </a>
                                </td>
                                <td class="left-but">
                                    <span class="mif-not mif-2x" style="color: #c81d23;" title="נהול"
                                          data-ng-hide="p.IsDraft || dtpIn(p.DocumentType,[1,3,5,7,8])"></span>
                                    <a href="#" data-ng-show="!p.IsDraft && dtpIn(p.DocumentType,[1,3]) && !p.IsCanceled"
                                       data-ng-click="cancelDoc(p)" title="{{p.DocumentType == 1 ? 'ביטול חשבונית' : 'ביטול קבלה'}}"><span class="glyphicon glyphicon-transfer" style="color:red"></span></a> <!--p.DocumentType == 1 || p.DocumentType == 3-->

                                    <span class="glyphicon glyphicon-transfer" style="color: grey;"
                                          title="{{p.DocumentType == 1 ? 'חשבונית מס מבוטלת' : 'קבלה מבוטלת'}}"
                                          data-ng-show="p.IsCanceled"></span><!--|| dtpin(p.documenttype,[5,7,8]-->
                                    <a href="#" data-ng-show="p.IsDraft" 
                                       data-mwl-confirm
                                       title="מחיקה"
                                       data-message="למחוק את מסמך?"
                                       data-confirm-text="מחיקה"
                                       data-cancel-text="ביטול"
                                       data-placement="right"
                                       data-on-confirm="deleteUserDocument(p.Id)"
                                       data-confirm-button-type="danger"
                                       data-cancel-button-type="default">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                                <td data-ng-if="search.docType==8 ||search.docType==11 || search.docType==12">
                                    <span class="glyphicon glyphicon-folder-close" style="color: grey;" title="סגור" data-ng-if="p.DocumentType==8 || p.DocumentType==11 ||p.DocumentType==12"
                                          data-ng-show="p.isClosed"></span><!--|| dtpin(p.documenttype,[5,7,8]-->
                                    <a href="#" style="width:132px;" data-ng-click="getDocForHM(p.Id);" data-ng-show="!p.IsDraft && dtpIn(p.DocumentType,[1,2,3])" data-ng-if="p.DocumentType==8 ||p.DocumentType==11 ||p.DocumentType==12"></a>
                                </td>
                            </tr>
                            <tr data-ng-if="p.ifParent && p.Orders && p.Orders.length > 0" data-ng-repeat="o in p.Orders" style="background-color:rgba(150, 164, 165, 0.70); font-style:italic" >
                                <td></td>
                                <td></td>
                                <td data-ng-if="search.docType==11"></td>
                                <td>{{o.Id}}</td>
                                <td>{{o.DocumentNumber}}</td>
                                <td>{{o.DocumentN}}</td>
                                <td>{{o.CompanyN}}</td>
                                <td>{{o.CustomerN}}</td>
                                <td>{{o.DocumentType==3 || o.DocumentType==6 ? o.PaidTotal : o.Total}}</td>
                                <td>{{o.DateV}}</td>
                                <td>{{dueDate(o)}}</td>
                                <td style="width:25px" class="left-but">
                                    <a href="pdf1.aspx?id={{o.Id}}" target="_blank" id="dh_{{o.Id}}" style="color:#dd5600">
                                        <span class="mif-file-pdf mif-2x" title="תצוגה/הורדה של PDF" data-ng-show="!o.IsDraft"></span>
                                    </a>
                                </td>
                                <td class="left-but">
                                    <a data-ng-href="{{docPreview(p)}}" target="_blank" id="dh_{{o.Id}}">
                                        <span class="mif-file-text mif-2x" title="תצוגה" data-ng-show="!o.IsDraft"></span>
                                    </a>
                                </td>
                                <td class="left-but">
                                    <a href="#" data-ng-click="loadSavedDocForEdit(o.Id,0);" data-ng-show="o.IsDraft">
                                        <!--|| dtpIn(o.DocumentType,[5,7,8])-->
                                        <span class="mif-pencil mif-2x" title="עריכה"></span>
                                    </a> <!--&& !dtpIn(o.DocumentType,[5,7,8])-->
                                    <a href="#" data-ng-show="!o.IsDraft"
                                       style="color:#1c4f81" data-ng-click="getdocToMail(p)" data-toggle="modal" data-target="#myModal">
                                        <span class="glyphicon glyphicon-send" title="שליחה לדואר אלקטרוני"></span>
                                    </a>
                                </td>
                                <td class="left-but">
                                    <span class="mif-not mif-2x" style="color: #c81d23;" title="נהול"
                                          data-ng-hide="o.IsDraft || dtpIn(o.DocumentType,[1,3,5,7,8])"></span>
                                    <a href="#" data-ng-show="!o.IsDraft && dtpIn(o.DocumentType,[1,3]) && !o.IsCanceled"
                                       data-ng-click="cancelDoc(p)" title="{{o.DocumentType == 1 ? 'ביטול חשבונית' : 'ביטול קבלה'}}"><span class="glyphicon glyphicon-transfer" style="color:red"></span></a> <!--o.DocumentType == 1 || o.DocumentType == 3-->

                                    <span class="glyphicon glyphicon-transfer" style="color: grey;"
                                          title="{{o.DocumentType == 1 ? 'חשבונית מס מבוטלת' : 'קבלה מבוטלת'}}"
                                          data-ng-show="o.IsCanceled"></span><!--|| dtpin(o.documenttype,[5,7,8]-->
                                    <a href="#" data-ng-show="o.IsDraft"
                                       data-mwl-confirm
                                       title="מחיקה"
                                       data-message="למחוק את מסמך?"
                                       data-confirm-text="מחיקה"
                                       data-cancel-text="ביטול"
                                       data-placement="right"
                                       data-on-confirm="deleteUserDocument(o.Id)"
                                       data-confirm-button-type="danger"
                                       data-cancel-button-type="default">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                                <td data-ng-if="search.docType==8 ||search.docType==11 || search.docType==12">
                                    <span class="glyphicon glyphicon-folder-close" style="color: grey;" title="סגור" data-ng-if="o.DocumentType==8 || o.DocumentType==11 ||o.DocumentType==12"
                                          data-ng-show="o.isClosed"></span><!--|| dtpin(o.documenttype,[5,7,8]-->
                                    <a href="#" style="width:132px;" data-ng-click="getDocForHM(o.Id);" data-ng-show="!o.IsDraft && dtpIn(o.DocumentType,[1,2,3])" data-ng-if="o.DocumentType==8 ||o.DocumentType==11 ||o.DocumentType==12">

                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- paging -->
                <div data-ng-include="'Templates/paging.tmpl.htm?docUpdated='+updateTime" onload="index=3"></div>
            </div>

        </div>
    </fieldset>
</form>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span style="color:#858585">שלח מסמך</span>:
                <span style="margin-right:10px;margin-left:10px;">{{docToMail.DocumentN}}</span>מס'<span style="margin-right:10px;">{{docToMail.DocumentNumber}}</span>
                </h4>
            </div>
            <div class="modal-body">
                <!--<legend>Legend</legend>-->
                <form class="form-horizontal" data-ng-show="docSentStatus==0">
                    <fieldset>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">כתובת</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputEmail" placeholder="דואר אלקטרוני" />
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:10px">
                            <label for="textArea" class="col-lg-2 control-label">הודעה</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="3" id="textBody"></textarea>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="alert alert-dismissible alert-success" data-ng-show="docSentStatus==1" style="margin-right: 30px;margin-bottom: 10px;">
                    נשלח בהצלחה
                </div>
                <div class="alert alert-dismissible alert-danger" data-ng-show="docSentStatus==2" style="margin-right: 30px;margin-bottom: 10px;">
                    הפעולה לא הצליחה, פנה למנהל המרכת לבירור
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button>
                <button type="button" class="btn btn-primary" data-ng-click="sendDoc()" style="margin-left:10px" data-ng-show="docSentStatus==0">שלח</button>
            </div>
        </div>

    </div>
</div>
<script>

    $().ready(function () {
        // validation instructions
        scope.companyValidator = $("#f421").validate(compEditConfig.toValidation());
    })

</script>