        <div class="col-md-12">
            <div class="form-horizontal">
                <h4>שחזור סימא לפי דואר אלקטרוני</h4>
                <hr />
                <form name="restForm" id="restForm" class="form" novalidate action="javascript:Restore()">
                    <div class="form-group" style="height:24px">
                        <div class="col-md-3 col-lg-offset-2 error-text" data-ng-show="restError">
                            דואר אלקטרוני לא רשום במערכת
                        </div>
                        <div class="col-md-3 col-lg-offset-2 success-text" data-ng-show="restSuccess">
                            הסיסמא נשלחה לדואר אלקטרוני
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MainContent_Mail" class="col-md-2 control-label">דואר אלקטרוני</label>
                        <div class="col-md-10">
                            <input name="userMailR" type="email" id="userMailR" class="form-control" placeholder="דואר אלקטרוני">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary btn-large" data-ng-click="submitted=true">אישור</button>
                            <button type="reset" class="btn btn-default btn-large" data-ng-click="submitted=true" onclick="ResetErrorMessages()">
                                איתחול
                            </button>
                        </div>
                    </div>
                </form>

                <div class="col-md-offset-2 col-md-10">
                    <a href="#" data-ng-click="showPage(5)">כניסה למערכת למשתמש קיים</a>
                </div>
                <div class="col-md-offset-2 col-md-10">
                    <a href="#" data-ng-click="showPage(4)">הרשמה למשתמש חדש</a>
                </div>
            </div>
        </div>
   <script>
    $().ready(function () {
        // validate signup form on keyup and submit
        $("#restForm").validate({
            rules: {
                userMailR: {
                    required: true,
                    email: true
                }
            },
            messages: {
                userMailR: {
                    required: "דואר אלקטרוני הינו שדה חובה",
                    email: "הדואר פורמט אינו תקין"
                }
            }
        });
    });
</script>