<div data-ng-show="selectedPage==1">
    <div class="jumbotron" style="margin-top: 80px; margin-bottom: 10px; padding-bottom: 20px; padding-top: 40px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <h1 style="margin-top: 0px">מערכת חשבוניות וקבלות</h1>
                    <!--<p class="lead">החופש ליצור חשבוניות, קבלות והצעות מחיר באינטרנט ללא הורדת תוכנה, מכל מחשב ובכל זמן, באמצעות מערכת נוחה וקלה לתפעול, שתאהבו להשתמש בה.</p>
                    <p>שולחים בקליק מסמכים במייל, חוסכים בנייר ושומרים על הסביבה.</p>-->
                    <p>[הסבר קצר]</p>
                    <p>&nbsp;</p>
                    <p><a href="#" data-ng-click="showPage(2)" class="btn btn-primary btn-lg">קראו עוד &raquo;</a></p>
                </div>
                <div class="col-sm-4 hidden-xs home-image" id="imgHome">
                    <img src="Images/home1.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>איך מקבלים שירות</h2>
            <!--<p style="min-height:80px">
                שבונית פלוס היא שירות אינטרנטי, שמתעדכן ומתחדש לעתים קרובות. בין היתר באמצעות פידבקים שאנחנו מקבלים מכם.
            </p>-->
            <p>[הסבר קצר]</p>
            <p>&nbsp;</p>
            <p><a class="btn btn-default" href="#" data-ng-click="showPage(2)">קראו עוד &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>למי המערכת מתאימה</h2>
            <!--<p style="min-height:80px">מערכת חשבונית פלוס מתאימה לבעלי עסק עצמאי, לרבות עוסק מורשה, עוסק פטור, חברה בע"מ ועמותות ורשומה כחוק ברשות המסים כתוכנה להפקת חשבוניות מס וקבלות.</p>-->
            <p>[הסבר קצר]</p>
            <p>&nbsp;</p>
            <p><a class="btn btn-default" href="#" data-ng-click="showPage(2)">קראו עוד &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>חיסכון בזמן ובכסף</h2>
            <!--<div style="min-height:80px">
                <ul>
                    <li>לא צריכים יותר להזמין פנקסי חשבוניות/קבלות.</li>
                    <li>אפשר להפיק מסמכים רק כשבאמת צריכים (ולשלוח במייל).</li>
                    <li>אין צורך יותר ברכישת בולים ומעטפות.</li>
                </ul>
            </div>-->
            <p>[הסבר קצר]</p>
            <p>&nbsp;</p>
            <p><a class="btn btn-default" href="#" data-ng-click="showPage(2)">קראו עוד &raquo;</a></p>
        </div>
    </div>
</div>    