<div class="col-xs-12 dt-inv">
    <div class="col-xs-4 selectpicker-inv">
        <select class="selectpicker" style="width: 50px" data-style="btn-primary btn-sm" data-selected-text-format="count">
             <option value="0" title="כל התקופות" selected="selected">כל התקופות</option>
        </select>
    </div>
    <div class='col-xs-4'>
        <div class='input-group date dpFrom'>
            <input type='text' class="form-control input-sm" />
            <span class="input-group-btn">
                <span class="input-group-addon input-sm">
                    <span class="glyphicon glyphicon-calendar span-sm"></span>
                </span>
            </span>
        </div>
    </div>
    <div class='col-xs-4'>
        <div class='input-group date dpTo'>
            <input type='text' class="form-control input-sm" />
            <span class="input-group-btn">
                <span class="input-group-addon input-sm">
                    <span class="glyphicon glyphicon-calendar span-sm"></span>
                </span>
            </span>
        </div>
    </div>
</div>
